<section class="terbaru">
    <div class="my-width">
        <div class="terbaru-content">
            <div class="title-section">
                <p>{{ $title }}</p>
            </div>
            <ul>
                <li>
                    @if ($articles->count())
                    <div class="karesel">
                        <div class="kotak-terbaru">
                            <a href="/article/{{ $articles[0]->slug }}">
                                @if($articles[0]->photo)
                                    <img src="{{ 'public/storage/photo/'.$articles[0]->photo }}"
                                    alt="">
                                @else
                                    <img src="https://source.unsplash.com/500x400/?{{ $articles[0]->tag->name }}" class="card-img-top" alt="{{ $articles[0]->tag->name }}">
                                @endif
                                <div class="text-terbaru">
                                    <div class="title-terbaru">
                                        <h3>{{ $articles[0]->title }}</h3>
                                    </div>
                            </a>
                            <p class="card-text">{{ $articles[0]->excerpt }}</p>
                            <a href="/article/{{ $articles[0]->slug }}" class="text-decoration-none btn btn-primary">Read More</a>
                            <div class="waktu-upload">
                                <p>{{ $articles[0]->created_at->diffForHumans() }}</p>
                            </div>
                            <div class="penulis-terbaru">
                                <img src="img/profile-pict.jpg" alt="">
                                <div class="akun-terbaru">
                                    <a href="/api/articles?author={{ $articles[0]->author->username }}">
                                        <div class="nama-akun">
                                            <p>{{ $articles[0]->author->name }}</p>
                                        </div>
                                    </a>
                                    <div class="tier-status">
                                        <p>Tier</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="karesel">
                        @foreach ($articles->skip(1) as $article)
                        <div class="kotak-terbaru">
                            <a href="/article/{{ $articles[0]->slug }}">
                                @if($articles[0]->photo)
                                    <img src="https://source.unsplash.com/500x400/?{{ $article->tag->name }}"
                                    alt="{{ $article->tag->name }}">
                                <div class="text-terbaru">
                                    <div class="title-terbaru">
                                        <h3>{{ $article->title }}</h3>
                                    </div>
                            </a>
                            <p class="card-text">{{ $articles[0]->excerpt }}</p>
                            <a href="/article/{{ $article->slug }}" class="btn btn-primary">Read More</a>
                            <div class="waktu-upload">
                                <p>{{ $article->created_at->diffForHumans() }}</p>
                            </div>
                            <div class="penulis-terbaru">
                                <img src="img/profile-pict.jpg" alt="">
                                <div class="akun-terbaru">
                                    <a href="/api/articles?author={{ $article->author->username }}">
                                        <div class="nama-akun">
                                            <p>{{ $article->author->name }}</p>
                                        </div>
                                    </a>
                                    <div class="tier-status">
                                        <p>Tier</p>
                                    </div>
                                </div>
                            </div>
                        @endforeach
                        </div>
                    </div>
                    @else
                    <p class="text-center fs-4">No articles Found</p>
                    @endif
                    <div class="d-flex justify-content-center" >{{ $articles->links() }}</div>
                </li>
            </ul>
        </div>
    </div>
</section>